.header {
  position: relative;
  height: 150px;
    background-color: #A67C52;
    color: white;
  }
  
  .topBar {
    display: flex;
    padding: 0.5rem;
    font-size: 0.875rem;
    justify-content: flex-end;
    padding-right: 7rem;
  }
  .nav {
  background-color: #FAF6F2;
  padding: 1.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  flex-direction: row-reverse;
  gap: 1rem; 
}

.logo {
  color: #A67C52;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: serif;
  order: -1;
  margin-left: auto; 
}

.searchContainer {
  display: flex;
  align-items: center;
  height:40px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #A67C52;
  order: 0; 
  margin-left:15rem; 
}
  
  .profile {
    display: flex;
    width:130px;
    height:40px;
    align-items: center;  
    border: 1px solid #A67C52;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    background-color: white;
    margin-left: 15rem;
  }
  
  .socialIcons {
    display: flex;
    align-items: center;
    margin-left:1rem;
    border-radius: 100%;
    gap: 1rem;
    color: #A67C52;
    font-size: 1.125rem;
    order: 1; 
  }
  
  /* بقية الأنماط بدون تغيير */
  .searchInput {
    padding: 0.4rem;
    border-radius: 15px;
    padding-left:5rem;
    margin-left:2rem;
    outline: none;
    color: black;
    width: 16rem;
    border: none;
  }
  
  .searchButton {
    background-color: #A67C52;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  }
  
  .profileName {
    color: black;
    padding-left:0.5rem;
  }
  
  .profileImage {
    width: 1.8rem;
    height: 1.8rem;
    margin-left:2rem;
  
    border-radius: 50%;
    object-fit: cover;

  }
  
  .socialButton {
    background-color: #FDF6EE;
    padding: 0.75rem;
    border-radius: 50%;
    border: 1px solid #A67C52;
    color: #A67C52;
    cursor: pointer;
  }
  
  .menu {
    position: sticky;
    bottom: 0px; /* البعد من أسفل الهيدر */
margin-bottom:5rem;
padding-bottom:5rem;
    padding-left: 95rem;
    transform: translateX(-50%);
    display: flex;
    gap: 20px; /* المسافة بين العناصر */
    justify-content: center;
    width: 100%;
    max-width: 600px; /* حسب احتياجك */
  }
  
  .menuLink {
    color: #333; /* لون النص */
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    transition: 0.3s;
  }
  .menuLink:hover {
    color: #A67C52; /* لون النص عند الهوفر */
  }
 